.mail-box{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    /* border-left: 5px solid yellow; */
    background-color: #091136;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 10px;
    column-gap: 15px;
}
.mail-box .icon{
    width: 40px;
    height: 40px;
}
.work-box .icon{
    width: 50px;
    height: 50px;
}
.work-box{
    background-color: #091136;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}