
.container-box{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

nav{
    background-color:#1E293B;
}
.btntoggle{
    background-color: #38BDF8;
    color: #FFFFFF;
}
.btntoggle:hover{
    background-color: #4F46E5;
}
.collapse ul li a{
    color: #38BDF8;
    font-size: 20px;
    letter-spacing: 2px;
}
.collapse ul li a:hover{
    color: #ff7300;
}
.navbar-brand{
    color:#F8FAFC;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    letter-spacing: 5px;
}
.navbar-brand:hover{
    color: #F8FAFC;
    cursor: pointer;
}
#collapsibleNavId{
    position: absolute;
    right: 50px
}

#collapsibleNavId ul li{
    margin-left:20px ;
}


@media all and (max-width:590px){

    #collapsibleNavId{
        margin: 0px 0px 0px 0vw;
        right: 0px;
        position: static;
    }

}
@media (min-width:567px) and (max-width:890px){
    #collapsibleNavId{
        font-size: 10px;
        right: 15px;
        position: absolute;
        
    }
    .collapse ul li a{
        font-size: 12px;
    }
  
    #collapsibleNavId ul li{
        margin-left:10px ;
    }
}