#Skils .btn{
    color: #8B5CF6;
}

#Skils .btn:hover{
    color: #4500e7;
}

.skilbox{
    border-radius: 10px;
    background: rgb(21, 21, 48);
    padding: 15px;
    box-shadow: 1px 1px 10px rgb(165, 165, 169);
    margin-top: 30px;
}
.skilbox .box{
    display: flex;
    justify-content: space-between;
}
.head{
    display: flex;
    align-items: center;
    gap: 10px;
}
#box{
    align-self: center;
    line-height: 10px;
}
.progress{
    height: 15px;
}
.box{
    letter-spacing: 2px;
}